.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #ffffff;
}

header:after {
    clear: both;
}

.header-product-desc {
    float: left;
}

.header-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.header-list {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.header-list-item {
    list-style-type: none;
    position: relative;
}

.header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url('../img/check_icon.png');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: -35px;
}

.header-img {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

section {
    padding: 50px;
    
}

section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about {
    width: 100%;
    box-sizing: border-box;
    min-height: 345px;
    background-color: #ffffff;
}

.about-wrp {
    width: 650px;
    float: left;
}

.about-title {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #445161;
}

.about p {
    color: #333333;
    margin-right: 0;
    margin-left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.dignity {
    width: 100%;
    box-sizing: border-box;
    min-height: 250px;
    background-color: #f5f5f5;    
}

.dignity-title {
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    color: #445161;    
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.dignity-list {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    margin: 0;    
    list-style-type: none;
}

.dignity-list-item {
    position: relative;
    width: 520px;
    margin-bottom: 35px;
    padding-left: 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.dignity-list-item:nth-child(2n) {
    margin-left: 30px;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    line-height: 32px;
    background-color: #445161;    
    -webkit-background-size: cover;    
    position: absolute;
    top: 5px;
    left: 0px;    
}

.screen {
    width: 100%;
    box-sizing: border-box;
    min-height: 250px;    
}

.screen-title {
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    color: #445161;    
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.screen-list{
    display: flex;
    flex-flow: row wrap;
}

.screen-item {
    width: 575px;
    margin: 0 10px 30px 0;
}

.screen-img {
    display: block;
    float: left;
    margin-right: 15px;
    background-color: #445161;
    width: 200px;
    height: 150px;
}

.screen-desc-title {
    margin: 0 0 10px 0;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screen-txt {
    margin: 0 0 10px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    width: 100%;
    box-sizing: border-box;
    min-height: 250px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: wrap;
}

.reviews-title {
    display: block;
    width: 100%;    
    margin: 0 0 25px 0;
    text-align: center;
    color: #445161;    
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.review-item {
    width: 575px;
    display: block;
    margin-bottom: 24px;
    margin-right: 20px;
}

.review-item:nth-child(2n+1) {
    margin-right: 0;
}


.review-photo {  
    display: block;
    float: left;  
    margin-right: 24px ;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

.review-txt {  
    display: inline-block;
    width: 470px;  
    position: relative;
    background-color:#ebebeb;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
}
.review-txt p {
    margin: 0;
    font-style: italic;
}

.review-txt:before {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: -30px;
    border: 20px solid transparent; 
    border-right: 20px solid #ebebeb;
}

.review-autor { 
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    padding-top: 16px ;
}

.buy {
    width: 100%;
    box-sizing: border-box;
    min-height: 656px;
    background-color: #ffffff;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.buy-title {
    display: block;
    width: 100%;    
    margin: 0 0 25px 0;
    text-align: center;
    color: #445161;    
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.buy-item{    
    width: 300px;
    background-color: #445161;
    border-radius: 6px;    
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.buy-item-title {  
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 16px 0;
}
.buy-price {
    display: block;
    margin: 0 -18px;
    color: #445161;
    background-color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 16px 0;
}

.buy-price::before {
    content: "$";
}

.buy-list {    
    list-style-position: inside;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0;
    margin: 0;
}

.btn {   
    display: block;
    padding: 12px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 260px;
    min-height: 40px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: #445161;    
    font-size: 18px;
    font-weight: 600;  
    line-height: 18px;  
    text-transform: uppercase;
    background-color: #ffffff;
}

.btn:hover {
    box-shadow: 0px 4px 4px #333333;
    outline: #333333;
}

.btn:active {
    box-shadow: inset 0px 2px 4px #333333;
    color: #333333;
}

footer {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-title {
    display: block;
    width: 100%;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.footer-form {    
    width: 500px;
    margin-right: 45px;
    text-align: center;
}

input, textarea {
    display: block;    
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;    
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 6px;    
    line-height: 24px;
}

textarea {    
    height: 170px;
    font-family: Arial;
    resize: none;   
}

input:focus, textarea:focus {    
    outline: #445162;
}

.btn-form {    
    width: 140px;    
}

.contact-list {
    display: block;
    width: 240px;   
}
.contact-link {
    display: block; 
    margin-bottom: 20px;
    padding-left: 35px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.contact-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;         
    -webkit-background-size: cover;
    background-size: cover;
}

.skype:before {  
    width: 24px;        
    background-image: url('../img/skype_icon.png');
}

.icq:before {    
    background-image: url('../img/icq_icon.png');
}

.email:before {
    background-image: url('../img/email_icon.png');
}

.phone:before {
    background-image: url('../img/phone_icon.png');
}

.social {
    width: 100%;
}

.social-link {
    display: block;
    float: left;    
    width: 42px;
    height: 42px;
    margin-right: 5px;    
    background-image: url('../img/social_buttons.png');
}

.social-link:nth-child(1) {
    background-position: -1px 0;
}

.social-link:nth-child(2) {
    background-position: 190px 0;
}

.social-link:nth-child(3) {
    background-position: 141px 0;
}

.social-link:nth-child(4) {
    background-position: 91px 0;
}

.social-link:nth-child(5) {
    background-position: 42px 0;
}

.footer-copyright {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    background-color: #f5f5f5;
    text-align: center;
}
