body {
  margin: 0 auto;
  font-family: Montserrat;
}
header,
main,
footer {
  width: 100%;
}
h1 {
  margin: 0;
  font-family: "Raleway";
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}
h2 {
  font-family: "Raleway-Semi Bold";
}
span {
  font-family: Raleway;
}
p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
a {
  text-decoration: none;
}
header {
  position: relative;
  background: url('../img/header-photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1024px;
}
header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.7);
  z-index: 2;
  clear: both;
}
.header-content {
  display: block;
  position: relative;
  padding-top: 40px;
  z-index: 3;
  width: 1170px;
  margin: 0 auto;
  color: #ffffff;
}
.logo {
  position: relative;
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  min-height: 56px;
  line-height: 56px;
}
.menu {
  display: block;
  float: right;
  min-height: 56px;
  line-height: 56px;
}
.menu-item {
  float: left;
  padding: 0 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.menu-item-active {
  color: #c7b299;
}
.slogan {
  display: block;
  margin: auto;
  margin-top: 308px;
  max-width: 590px;
  text-align: center;
}
.slogan-title {
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: 500;
}
.slogan-txt {
  margin-bottom: 50px;
}
.carousel {
  position: absolute;
  margin-left: -40px;
  margin-right: -40px;
  top: 50%;
  width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px;
  background-color: #ffffff;
  opacity: 0.5;
}
.circle-active {
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: #ffffff;
}
button {
  width: 170px;
  height: 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  color: #ffffff;
  background-color: #998675;
}
